body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Couleur de fond légère */
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
header {
    background-color: #343a40; /* Couleur de fond sombre */
}
.card {
    border: none; /* Pas de bordure */
    transition: transform 0.2s; /* Effet de survol */
}
a .card:hover{
    text-decoration: none;
}
.card:hover {
    transform: scale(1.05); /* Zoom lors du survol */
}
.card-title {
    font-size: 1.5rem; /* Augmente la taille de la police */
    font-weight: bold; /* Texte plus gras pour le titre */
    color: #004080; /* Couleur différente pour attirer l'attention */
    text-transform: uppercase; /* Mettre en majuscules */
    margin-bottom: 10px; /* Espacement entre le titre et le texte */
}

.card-text {
    font-size: 1rem; /* Taille plus petite pour le texte de description */
    font-weight: normal; /* Texte plus léger */
    color: #666; /* Couleur plus douce pour le texte */
    line-height: 1.6; /* Améliorer la lisibilité avec un espacement entre les lignes */
}

footer {
    background-color: #343a40; /* Couleur de fond sombre */
}
